* {
  font-family: "Oxygen", sans-serif;
}

body {
  background-color: #eee;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Merriweather Sans", sans-serif;
}

.header {
  background-image: linear-gradient(to bottom, #8f94fb69 70%, #8f94fb),
    url(header.jpg);
  background-size: cover;
  height: 300px;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30px auto;
  grid-template-areas:
    "titulo  nav"
    "eslogan img";
}

.diseño {
  margin-block-end: 0;
  padding-left: 1rem;
}

.header__titulo {
  grid-area: eslogan;
  padding-left: 1rem;
  margin: auto;
}

.header__img {
  width: 80%;
  grid-area: img;
  margin: auto;
}

.header-2 {
  background: linear-gradient(#8f94fb 40%, #4e54c8 99%, #eee);
  position: relative;
  height: 350px;
  z-index: 0;
}

.header-2__derecho {
  padding-top: 75px;
  width: 75%;
  padding-left: 15px;
}

.header-2__titulo,
.header-2__texto {
  position: relative;
  color: #fff;
  z-index: 100;
}

.header-2__img {
  position: absolute;
  top: 0px;
  width: 60%;
  right: 16px;
  z-index: 1;
  opacity: 0.7;
}

.ola {
  position: absolute;
  bottom: 0;
}

h2 {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
}

/*    Clientes    */
.clientes {
  position: relative;
  z-index: 100;
}

.clientes h2 {
  padding-left: 1rem;
}

.clientes__derecho {
  margin: 1rem;
}

/*    Testiminios    */
.testimonio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "izq der";
  width: 90%;
  margin: 2rem auto;
}

.testimonio2 {
  display: none;
}

.testimonio-izquierdo {
  grid-area: izq;
  position: relative;
  margin: auto;
}

.testimonio-izquierdo img {
  width: 80%;
  margin: 20% auto;
  position: relative;
  z-index: 100;
}

.testimonio-izquierdo--fondo {
  position: absolute;
  height: 100%;
  width: 70%;
  background: linear-gradient(#8f94fbb9 40%, #4e54c8b9);
  top: 0;
  right: 0;
  z-index: 1;
}

.testimonio-izquierdo p {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-block-start: 0;
  margin-block-end: 0.3rem;
  font-weight: 500;
  margin-right: 0.5rem;
  color: #fff;
  z-index: 20;
}

.testimonio-derecho {
  grid-area: der;
  padding-left: 1rem;
  margin: auto;
}

@media screen and (min-width: 336px) {
  .header {
    height: 250px;
  }

  .header-2 {
    height: 320px;
  }
  .header-2__derecho {
    padding-top: 100px;
  }
}

@media screen and (min-width: 411px) {
  .testimonio-izquierdo img {
    width: 70%;
    margin: 15% auto;
    position: relative;
    z-index: 100;
    margin-left: 15px;
  }

  .testimonio-izquierdo--fondo {
    width: 60%;
  }
}

@media screen and (min-width: 550px) {
  .header-2__img {
    width: 45%;
  }

  .header-2 {
    padding-left: 5%;
    padding-right: 5%;
    height: 350px;
  }

  .header {
    padding-left: 5%;
    padding-right: 5%;
  }

  .clientes {
    padding-left: 5%;
    padding-right: 5%;
  }

  .testimonio-izquierdo img {
    width: 70%;
    margin: 15% auto;
    margin-left: 30px;
  }

  .testimonio-izquierdo--fondo {
    width: 60%;
    right: 0.5rem;
  }

  .testimonio-izquierdo p {
    right: 0.5rem;
  }

  .planes__titulo {
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 0;
    margin-top: 1rem;
  }

  .ola {
    left: -0.5%;
    width: 101%;
  }
}

@media screen and (min-width: 600px) {
  .header-2 {
    height: 420px;
  }
  .header-2__derecho {
    padding-top: 150px;
    width: 75%;
    padding-left: 15px;
  }

  .testimonio-izquierdo img {
    width: 60%;
    margin: 10% auto;
    margin-left: 30px;
  }

  .testimonio-izquierdo--fondo {
    width: 50%;
    right: 1rem;
  }

  .testimonio-izquierdo p {
    right: 1rem;
  }
}

@media screen and (min-width: 800px) {
  .header-2 {
    height: 450px;
  }

  .header {
    height: 320px;
  }

  .header__img {
    width: 70%;
  }

  .clientes {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      "titulo titulo"
      "testimonio1 testimonio2";
  }

  .clientes h2 {
    padding-left: 1rem;
    grid-area: titulo;
  }

  .testimonio-izquierdo img {
    width: 60%;
    margin: 15% auto;
    margin-left: 30px;
  }

  .testimonio {
    width: 95%;
  }

  .testimonio2 {
    display: grid;
  }
}

@media screen and (min-width: 900px) {
  .header-2__img {
    width: 40%;
  }

  .ola {
    bottom: -25px;
  }
}

@media screen and (min-width: 1100px) {
  body {
    width: 1100px;
    margin: auto;
  }

  .header__img {
    width: 50%;
    grid-area: img;
    margin: auto;
  }
}
